<div class="header-right">
    <ul class="clearfix">
        <li class="icons dropdown">
            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                <span class="activity active"></span>
                <img src="{{ url_for('static', filename='images/user/1.png') }}" height="40" width="40" alt="">
            </div>
            <div class="drop-down dropdown-profile   dropdown-menu">
                <div class="dropdown-content-body">
                    <ul>
                        <li>
                            <a href="#"><i class="icon-user"></i> <span>Conta</span></a>
                        </li>
                        <hr class="my-2">
                        <li><a href="{{ url_for('logout') }}"><i class="icon-key"></i> <span>Sair</span></a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>