{% extends "base.html" %} {% block title %}IMP-DashBoard{% endblock %} {% block body %}

<div id="main-wrapper">

    <div class="nav-header">
        <div class="brand-logo">
            <a href="#">
                <b class="logo-abbr">
                    <img src="{{ url_for('static', filename='') }}images/logo.png" alt="" width="100%">
                </b>
                <span class="logo-compact">
                    <img src="{{ url_for('static', filename='') }}./images/logo-compact.png" alt="" width="100%">
                </span>
                <span class="brand-title">
                    <img src="{{ url_for('static', filename='') }}images/logo-text.png" width="25%" alt="">
                </span>
            </a>
        </div>
    </div>

    <div class="header">
        <div class="header-content clearfix">

            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>

            {% include 'header-right.html' %}

        </div>
    </div>

    {% include 'sidebar.html' %}

    <div class="content-body">
        <div class="container-fluid mt-3">
            <div class="row">
                {% include 'components/card-gradient-1.html' %}
            </div>
        </div>
    </div>

    {% endblock %}